<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <h1>Artists</h1>
    <div class="artists-container">
        {{range .}}
            <div class="artist">
                <a href="/info/{{.ID}}">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h2>{{.Name}}</h2>
                </a>
            </div>
        {{end}}
    </div>
</body>
</html>
